$font-color: white;
$background-color: rgb(110, 186, 218);
$fog-color: darkslategrey;
$night-color: midnightblue;
$mask-color: rgb(19, 101, 145);
$border-color: lightgray;
$container-bgcolor: #f2f2f2;
$button-text-color: white;
$shadow-color: #fff;
$text-shadow-color: rgb(234, 232, 232);
$fadecolor: grey;
